@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center; /* width */
  align-items: center; /* height */
  background-color: #282c34;
  color: white;

  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar{
  display: none;
}

.clock-container{
  text-align: center;
  font-size: 48px;
  width:86vh;
  padding: 25px;
  border: 2px solid white;
  border-radius: 10px;
  background: #000;
}